/* -------------- coffee menu ----------------*/
form {
    padding: 5px;
}

.coffee-menu {
    padding: 1px;
}

.coffee-menu td, tr {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #D2B48C;
}

.menuName {
    font-weight: bold;
}

td input[type=number] {
    width: 50px;
    height: 30px;
    font-size: 20px;
}
/*
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}*/

td input[type=radio] {
    width: 20px;
    height: 20px;
}

table td {
    min-width: 40px;
}

.coffee-menu label {
    margin: 0 0 0 10px;
    padding: 0;
}

.menuPrice label {
    display: none;
}

.menuPrice {
    margin: 0;
    padding-left: 10px;
    min-width: 80px;
}

td > div {
    text-align: center;
}

#totalPriceText {
    text-align: right;
}

.menuForm {
    display: flex;
    flex-flow: row wrap;
    vertical-align: center;
}

.menuForm input {
    vertical-align: middle;
}

#menuTotal {
    font-size: 25px;
    font-weight: bold;
}

.productPriceUpdate {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}
